bindkey '^[[1~' beginning-of-line
bindkey '^[[4~' end-of-line

alias nale='perl -nale'
alias inale='perl -i -nale'
alias ibnale='perl -i.bak -nale'

alias pe='perl -ne'
alias ipe='perl -i -ne'
alias ibpe='perl -i.bak -ne'

alias ne='perl -ne'
alias ine='perl -i -ne'
alias ibne='perl -i.bak -ne'

alias tale='perl -a -F"/\t/" -nle'
alias itale='perl -a -i -F"/\t/" -nle'
alias ibtale='perl -a -i.bak -F"/\t/" -nle'

alias l='ls -lrth'
alias suniq='sort | uniq'

if [ -f ~/.bashrc ]; then
        . ~/.bashrc
fi

if [ -f ~/.bash_profile ]; then
        . ~/.bash_profile
fi
